html, body {
    width: 100%;
    overflow-x: hidden;
}
body {
    font-size: 16px;
}

nav img.logo {
    width: 160px;
}

@media (max-width: 480px) {

    section {
        margin: 40px auto;
    }

    nav img.logo {
        width: 120px;
    }

    .nav-list {
        display: none;
    }

    .main-content {
        margin-top: 40px;
        text-align: center;
        padding: 0 10px;
    }

    .main-content .intro-heading {
        font-size: 20px;
    }

    .main-content .main-heading {
        font-size: 18px;
        margin-top: 0;
    }

    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 100%;
        max-width: 300px;
    }

    #testimonial h1 {
        font-size: 20px;
        padding: 0 10px;
    }

    #about-us .container {
        flex-direction: column;
        gap: 30px;
    }

    #about-us img {
        width: 100%;
    }

    #questions h1 {
        font-size: 32px;
    }

    footer .container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    .nav-list {
        display: none;
    }

    .main-content .main-heading {
        font-size: 70px;
    }

    .services {
        justify-content: center;
    }

    .service {
        width: 300px;
    }

    #about-us .container {
        flex-direction: column;
        gap: 50px;
    }

    footer .container {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 1024px) {

    .main-content .main-heading {
        font-size: 90px;
    }

    #about-us .container {
        gap: 60px;
    }

    .service {
        width: 300px;
    }
}

/*New css*/
@media (max-width: 360px) {

    body {
        font-size: 16px;
    }

    nav img.logo {
        width: 100px;
    }
    #main{
        min-height: 40vh;
    }
    .main-content .intro-heading {
        font-size: 28px;
    }

    .main-content .main-heading {
        font-size: 20px;
    }

    .section-title h1 {
        font-size: 30px;
    }

    #questions h1 {
        font-size: 28px;
    }
}
@media (max-width: 480px) {

    body {
        font-size: 14px;
    }

    nav img.logo {
        width: 120px;
    }

    .main-content .intro-heading {
        font-size: 20px;
    }

    .main-content .main-heading {
        font-size: 38px;
    }

    .section-title h1 {
        font-size: 36px;
    }

    #questions h1 {
        font-size: 32px;
    }
}
@media (max-width: 768px) {

    body {
        font-size: 15px;
    }

    nav img.logo {
        width: 140px;
    }

    .main-content .main-heading {
        font-size: 70px;
    }

    .section-title h1 {
        font-size: 42px;
    }
}
@media (max-width: 1024px) {

    body {
        font-size: 15.5px;
    }

    nav img.logo {
        width: 150px;
    }

    .main-content .main-heading {
        font-size: 90px;
    }
}
